<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Snake.Properties.Settings>
            <setting name="GameWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GameHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NoSnakes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoGamesAtOnce" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Penalty" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NoRounds" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="AppleEnergy" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MutateRatio" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="Treshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skipRoudns" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Walls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppleCount" serializeAs="String">
                <value>5</value>
            </setting>
        </Snake.Properties.Settings>
    </userSettings>
</configuration>